# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-install.log

# Unit test / coverage reports
.coverage
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
static/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

#PyCharm
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Other
.DS_Store
Thumbs.db